/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}



.hover-box{
    cursor: pointer;
    -webkit-transition: all 300ms; /* Safari */
    transition: all 300ms;
 }

.hover-box:hover{
	transform: scale(.98);
}

.modal
{
	max-height: 90vh; 
	max-width: 90vw;
	overflow: scroll;
}

a.kinda-link:hover { 
	cursor: pointer; 
}

a.kinda-link{
	color: red;
}